<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4db2b6f-f618-4971-8f16-3f81bd960934" Alias="Second" Level="2">
  <Info>
    <Parent Key="4d2ae586-3782-41c4-b22e-5dd75d857ebc">First</Parent>
    <Path>/First/Second</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-12-01T09:52:20</CreateDate>
    <NodeName Default="Second" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
  </Properties>
</Content>